<div #carousel class="carousel">
    <div class="carousel__inner">
        <ng-template [ngTemplateOutlet]="_activeItem.templateRef"></ng-template>
    </div>
    <div class="control">
        <div class="left" (click)="prevItem($event)"></div>
        <div class="right" (click)="nextItem($event)"></div>
    </div>
    <div class="circles" [style.display]="'block'">
        <svg>
            <ng-template ngFor [ngForOf]="' '.repeat(_ringsCount).split('')" let-i="index">
                <svg:circle [attr.cx]="_cx" [attr.cy]="_cy" [attr.r]="_strokeWidthStep * i + 1" fill="none" stroke="white" stroke-width="0">
                    <animate #expandSvgAnimations attributeName="stroke-width" begin="click" [attr.dur]="_circleDur + 'ms'" from="0" [attr.to]="_strokeWidthStep + 1" fill="freeze" />
                    <animate #collapseSvgAnimations attributeName="stroke-width" begin="click" [attr.dur]="_circleDur + 'ms'" [attr.from]="_strokeWidthStep + 1" to="0" fill="freeze" />
                </svg:circle>
            </ng-template>
        </svg>
    </div>
</div>

