:host {
    width: 100%;
}

.carousel {
    position: relative;
}

.control {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    .left, .right {
        height: 100%;
        flex: 1;
    }
}

.circles {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    svg {
        height: 100%;
        width: 100%;
    }
}
