<h1>Rotation carousel</h1>
<section id="api">
    <h2>API</h2>
    <table class="table">
        <thead>
            <tr>
                <th colspan="2">
                    <h3>Inputs</h3>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><code class="name">width</code></td>
                <td>Define width of item in carousel</td>
                <td class="meta">type: string<br>default: 500px</td>
            </tr>
            <tr>
                <td><code class="name">height</code></td>
                <td>Define height of item in carousel</td>
                <td class="meta">type: string<br>default: 500px</td>
            </tr>
            <tr>
                <td><code class="name">depth</code></td>
                <td>Define depth of the radius carousel</td>
                <td class="meta">type: string<br>default: 600px</td>
            </tr>
            <tr>
                <td><code class="name">period</code></td>
                <td>Period of item change. Number in ms or string (ex. '30s')</td>
                <td class="meta">type: number | string<br>default: 3500 (3500ms)</td>
            </tr>
        </tbody>
        <thead>
            <tr>
                <th colspan="2">
                    <h3>Output</h3>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><code class="name">startRotate(index: number)</code></td>
                <td>
                    <p>Emit event whet panel start rotation with index of rotate item</p>
                </td>
            </tr>
        </tbody>
        <thead>
            <tr>
                <th colspan="2">
                    <h3>Methods</h3>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><code class="name">startRotate(index: number)</code></td>
                <td>
                    <p>Emit event whet panel start rotation with index of rotate item</p>
                </td>
            </tr>
        </tbody>
    </table>
</section>
<section id="base-usage">
    <h2>Simple usage</h2>
    <div class="description"></div>
    <div class="example">
        <rotate-carousel>
            <ng-template rotateCarouselItem>
                <div style="width: 100%; height: 100%; background-color: coral; display: flex; align-items: center; justify-content: center;">
                    <span style="font-size: 2em;">1</span>
                </div>
            </ng-template>
            <ng-template rotateCarouselItem>
                <div style="width: 100%; height: 100%; background-color: cornflowerblue; display: flex; align-items: center; justify-content: center;">
                    <span style="font-size: 2em;">2</span>
                </div>
            </ng-template>
            <ng-template rotateCarouselItem>
                <div style="width: 100%; height: 100%; background-color: darkkhaki; display: flex; align-items: center; justify-content: center;">
                    <span style="font-size: 2em;">3</span>
                </div>
            </ng-template>
        </rotate-carousel>
    </div>
</section>
<section>
    <h2>Custom size (height="300px" width="450px")</h2>
    <div class="description">
    </div>
    <code>
        <span class="lt">&lt;</span><span class="tag-name">rotate-carousel</span>
        <span class="attr-name"> height</span>=<span class="attr-value">"300px"</span>
        <span class="attr-name"> width</span>=<span class="attr-value">"450px"</span><span class="gt">&gt;</span><br>
        <ng-template ngFor let-i [ngForOf]="' '.repeat(3).split('')">
            &nbsp;&nbsp;
            <span class="lt">&lt;</span><span class="tag-name">ng-template</span>
            <span class="attr-name"> rotateCarouselItem</span><span class="gt">&gt;</span><br>&nbsp;&nbsp;&nbsp;&nbsp;
            <span class="lt">&lt;</span><span class="tag-name">img</span>
            <span class="attr-name"> src</span>=<span class="attr-value">"..."</span><span class="gt">&gt;</span><br>&nbsp;&nbsp;
            <span class="lt">&lt;/</span><span class="tag-name">ng-template</span><span class="gt">&gt;</span><br>
        </ng-template>&nbsp;&nbsp;
        <span>........</span><br>
        <span class="lt">&lt;</span><span class="tag-name">rotate-carousel</span><span class="gt">&gt;</span>
    </code>
    <div class="example">
        <rotate-carousel height="300px" width="450px">
            <ng-template rotateCarouselItem>
                <img class="carousel_item" src="../../assets/cat1.jpg" alt="">
            </ng-template>
            <ng-template rotateCarouselItem>
                <img class="carousel_item" src="../../assets/cat2.jpg" alt="">
            </ng-template>
            <ng-template rotateCarouselItem>
                <img class="carousel_item" src="../../assets/cat3.jpg" alt="">
            </ng-template>
            <ng-template rotateCarouselItem>
                <img class="carousel_item" src="../../assets/cat1.jpg" alt="">
            </ng-template>
            <ng-template rotateCarouselItem>
                <img class="carousel_item" src="../../assets/cat2.jpg" alt="">
            </ng-template>
            <ng-template rotateCarouselItem>
                <img class="carousel_item" src="../../assets/cat3.jpg" alt="">
            </ng-template>
        </rotate-carousel>
    </div>
</section>
<section>
    <h2>Custom depth (170px, 600px)</h2>
    <div class="description"></div>
    <div class="example" style="display: flex;">
        <rotate-carousel height="200px" width="300px" depth="170px">
            <ng-template rotateCarouselItem>
                <img class="carousel_item" src="../../assets/cat1.jpg" alt="">
            </ng-template>
            <ng-template rotateCarouselItem>
                <img class="carousel_item" src="../../assets/cat2.jpg" alt="">
            </ng-template>
            <ng-template rotateCarouselItem>
                <img class="carousel_item" src="../../assets/cat3.jpg" alt="">
            </ng-template>
        </rotate-carousel>
        <rotate-carousel height="200px" width="300px" depth="600px">
            <ng-template rotateCarouselItem>
                <img class="carousel_item" src="../../assets/cat1.jpg" alt="">
            </ng-template>
            <ng-template rotateCarouselItem>
                <img class="carousel_item" src="../../assets/cat2.jpg" alt="">
            </ng-template>
            <ng-template rotateCarouselItem>
                <img class="carousel_item" src="../../assets/cat3.jpg" alt="">
            </ng-template>
        </rotate-carousel>
    </div>
</section>
<section>
    <h2>Speed (1500, '4s')</h2>
    <div class="description"></div>
    <div class="example" style="display: flex;">
        <rotate-carousel period="2000">
            <ng-template rotateCarouselItem>
                <img class="carousel_item" src="../../assets/cat1.jpg" alt="">
            </ng-template>
            <ng-template rotateCarouselItem>
                <img class="carousel_item" src="../../assets/cat2.jpg" alt="">
            </ng-template>
            <ng-template rotateCarouselItem>
                <img class="carousel_item" src="../../assets/cat3.jpg" alt="">
            </ng-template>
        </rotate-carousel>
        <rotate-carousel period="4s">
            <ng-template rotateCarouselItem>
                <img class="carousel_item" src="../../assets/cat1.jpg" alt="">
            </ng-template>
            <ng-template rotateCarouselItem>
                <img class="carousel_item" src="../../assets/cat2.jpg" alt="">
            </ng-template>
            <ng-template rotateCarouselItem>
                <img class="carousel_item" src="../../assets/cat3.jpg" alt="">
            </ng-template>
        </rotate-carousel>
    </div>
</section>