<section style="background-color: brown;">
    <rotate-carousel>
        <rotate-carousel-item>
            <ng-template rotateCarouselContent>
                <div style="height: 100px; width: 100%; background-color: black;"></div>
            </ng-template>
        </rotate-carousel-item>
        <rotate-carousel-item>
            <ng-template rotateCarouselContent>
                <div style="height: 100px; width: 100%; background-color: green;"></div>
            </ng-template>
        </rotate-carousel-item>
        <rotate-carousel-item>
            <ng-template rotateCarouselContent>
                <div style="height: 100px; width: 100%; background-color: blue;"></div>
            </ng-template>
        </rotate-carousel-item>
    </rotate-carousel>
</section>