<h1>Carousel</h1>
<div>
    <carousel #carousel animationType="fade">
        <ng-template carouselItem>
            <div style="height: 500px; background-color: coral; display: flex; align-items: center; justify-content: space-evenly;">
                <button (click)="carousel.prev()">PREV</button>
                <span style="font-size: 2em;">1</span>
                <button (click)="carousel.next($event)">NEXT</button>
            </div>
        </ng-template>
        <ng-template carouselItem>
            <div style="height: 500px; background-color: darkslateblue; display: flex; align-items: center; justify-content: space-evenly;">
                <button (click)="carousel.prev()">PREV</button>
                <span style="font-size: 2em;">2</span>
                <button (click)="carousel.next()">NEXT</button>
            </div>
        </ng-template>
        <ng-template carouselItem>
            <div style="height: 500px; background-color: mediumseagreen; display: flex; align-items: center; justify-content: space-evenly;">
                <button (click)="carousel.prev()">PREV</button>
                <span style="font-size: 2em;">3</span>
                <button (click)="carousel.next()">NEXT</button>
            </div>
        </ng-template>
    </carousel>
</div>

<h1>Rings carousel</h1>
<div>
    <ring-carousel [enableControl]="false" #ringCarousel>
        <ng-template ringCarouselItem>
            <div style="height: 500px; background-color: coral; display: flex; align-items: center; justify-content: space-evenly;">
                <button (click)="ringCarousel.prev()">PREV</button>
                <span style="font-size: 2em;">1</span>
                <button (click)="ringCarousel.next($event)">NEXT</button>
            </div>
        </ng-template>
        <ng-template ringCarouselItem>
            <div style="height: 600px; background-color: darkslateblue; display: flex; align-items: center; justify-content: space-evenly;">
                <button (click)="ringCarousel.prev()">PREV</button>
                <span style="font-size: 2em;">2</span>
                <button (click)="ringCarousel.next()">NEXT</button>
            </div>
        </ng-template>
        <ng-template ringCarouselItem>
            <div style="height: 500px; background-color: mediumseagreen; display: flex; align-items: center; justify-content: space-evenly;">
                <button (click)="ringCarousel.prev()">PREV</button>
                <span style="font-size: 2em;">3</span>
                <button (click)="ringCarousel.next()">NEXT</button>
            </div>
        </ng-template>
    </ring-carousel>
</div>

<h1>Rotation carousel</h1>
<section id="base-usage">
    <h2>Simple usage</h2>
    <input #period type="number" value="3500" />
    <div class="example">
        <rotate-carousel>
            <ng-template rotateCarouselItem>
                <div style="width: 100%; height: 100%; background-color: coral; display: flex; align-items: center; justify-content: center;">
                    <span style="font-size: 2em;">1</span>
                </div>
            </ng-template>
            <ng-template rotateCarouselItem>
                <div style="width: 100%; height: 100%; background-color: cornflowerblue; display: flex; align-items: center; justify-content: center;">
                    <span style="font-size: 2em;">2</span>
                </div>
            </ng-template>
            <ng-template rotateCarouselItem>
                <div style="width: 100%; height: 100%; background-color: darkkhaki; display: flex; align-items: center; justify-content: center;">
                    <span style="font-size: 2em;">3</span>
                </div>
            </ng-template>
            <ng-template rotateCarouselItem>
                <div style="width: 100%; height: 100%; background-color: darkcyan; display: flex; align-items: center; justify-content: center;">
                    <span style="font-size: 2em;">4</span>
                </div>
            </ng-template>
            <ng-template rotateCarouselItem>
                <div style="width: 100%; height: 100%; background-color: indianred; display: flex; align-items: center; justify-content: center;">
                    <span style="font-size: 2em;">5</span>
                </div>
            </ng-template>
            <ng-template rotateCarouselItem>
                <div style="width: 100%; height: 100%; background-color: thistle; display: flex; align-items: center; justify-content: center;">
                    <span style="font-size: 2em;">6</span>
                </div>
            </ng-template>
            <ng-template rotateCarouselItem>
                <div style="width: 100%; height: 100%; background-color: yellow; display: flex; align-items: center; justify-content: center;">
                    <span style="font-size: 2em;">7</span>
                </div>
            </ng-template>
            <ng-template rotateCarouselItem>
                <div style="width: 100%; height: 100%; background-color: violet; display: flex; align-items: center; justify-content: center;">
                    <span style="font-size: 2em;">8</span>
                </div>
            </ng-template>
            <ng-template rotateCarouselItem>
                <div style="width: 100%; height: 100%; background-color: tomato; display: flex; align-items: center; justify-content: center;">
                    <span style="font-size: 2em;">9</span>
                </div>
            </ng-template>
            <ng-template rotateCarouselItem>
                <div style="width: 100%; height: 100%; background-color: slateblue; display: flex; align-items: center; justify-content: center;">
                    <span style="font-size: 2em;">10</span>
                </div>
            </ng-template>
            <ng-template rotateCarouselItem>
                <div style="width: 100%; height: 100%; background-color: springgreen; display: flex; align-items: center; justify-content: center;">
                    <span style="font-size: 2em;">11</span>
                </div>
            </ng-template>
        </rotate-carousel>
    </div>
</section>