:host {
    width: 100%;
}

.carousel {
    position: relative;
    overflow: hidden;
}

.carousel__inner {
    transition: transform .8s;
    z-index: 1;
}

.control {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;

    .left, .right {
        height: 100%;
        flex: 1;
        cursor: pointer;
    }
}

.circles {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 3;

    svg {
        height: 100%;
        width: 100%;
    }
}
