:host {
    width: 100%;
}

.carousel {
    display: flex;
    justify-content: center;
    perspective: 1000px;

    &__content {
        transform: translateZ(-40vw);
        transform-style: preserve-3d;
    }

    &__inner {
        height: 100%;
        transform-style: preserve-3d;
    }

    &__item {
        display: flex;
        align-items: center;
        position: absolute;
        height: 100%;
        width: 100%;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: center;
            border-radius: 15px;
        }
    }
}
